#about-section-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.members-images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.members-images-container img {
    width: 49%;
    border-radius: 135px;
}

.about-section-member-heading {
    margin: 0 0 2rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: #BE1E28;
}