/* #about-section-5 {
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 5rem 3rem !important;
    background: #000;

}

.about-section-5-wrapper {
    display: flex;
    height: calc(100vh - 10rem);
    width: calc(500vw + 6rem);
    gap: 7.1vw;
}

.about-section-5-slide {
    position: relative;
    width: 93vw;
    height: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    overflow: hidden;
}

.about-section-5-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section-5-content {
    transform: none !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    text-align: left;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: white;
    max-width: calc(100% - 164px);
    z-index: 10;
}


.about-section-5-content h2 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 600;
    color: #fff;
}

.about-section-5-content p {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 300;
    color: #fff;
}

@media(max-width: 756px) {
    #about-section-5 {
        height: fit-content;
        padding: 3rem 1.5rem !important;
    }

    .about-section-5-wrapper {
        height: fit-content;
    }

    .about-section-5-slide {
        width: 81vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .about-section-5-slide img {
        height: 300px;
        width: 100%;
        border-radius: 15px;
        object-fit: cover;
    }

    .about-section-5-content {
        width: 100%;
        position: unset;
        bottom: unset;
        left: unset;
        padding: 20px 0 0;
        background: none;
        backdrop-filter: none;
        max-width: unset;
    }

    .about-section-5-content h2 {
        font-size: 1.5rem;
    }

    .about-section-5-content p {
        font-size: 0.9rem;
    }
} */

#about-section-5 {
    background: #000;
}

.about-section-5-slide {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 3rem;
}

.about-section-5-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-section-5-content {
    max-width: 800px;
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, .6);
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(4px);
}

.about-section-5-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #BE1E28;
    font-weight: 600;
}

.about-section-5-content p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7rem;
}

@media(max-width: 768px) {
    .about-section-5-content h2 {
        font-size: 1.8rem;
    }

    .about-section-5-content p {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .about-section-5-slide {
        padding: 0 1rem;
    }
}