#about-section-4 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.about-section-4-heading {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: #BE1E28;
    text-align: center;
}

.about-section-4-content {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
}
@media (max-width: 756px) {
    .about-section-4-heading{
        font-size: 1.5rem;
    }
    #about-section-4{
        margin-top: 0;
        gap: 10px;
        margin-bottom: 0;
    }
    .about-section-4-content{
        font-size: .9rem;
    }
}