.about-counters-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    height: 150px;
}

.counter-box {
    margin: 20px 0;
    width: 40%;
}

.counter-box h2 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
}

.counter {
    color: #be1e28;
    font-size: 2.5rem;
    font-weight: 600;
}

.about-counters-section hr {
    margin: 0;
    min-height: 100%;
    width: 1px;
    border: none;
    background: #000;
    display: flex;
}

@media (max-width: 756px) {
    .about-counters-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        height: fit-content;
    }

    .about-counters-section hr {
        height: 1px;
        width: 60%;
    }

    .counter-box {
        width: 100%;
    }

    .counter {
        font-size: 1.5rem;
    }

    .counter-box h2 {
        font-size: .9rem;
    }
}