.blog-content p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;

}

.blog-content strong {
    font-weight: 500;
}

.blog-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}