#home-section-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.home-section-3-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    row-gap: 2rem;
}

.home-section-3-card {
    display: flex;
    flex-direction: column;
    width: 49.5%;
}

.home-section-3-card-full_width {
    width: 100% !important;
}

.home-section-3-card-full_width .img-container {
    aspect-ratio: 12 / 3 !important;
}

.home-section-3-card .img-container {
    width: 100%;
    height: auto;
    aspect-ratio: 6 / 3;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    position: relative;
    transition: all 0.3s ease-out;

}

.home-section-3-card .img-container:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-out;

}

.home-section-3-card .img-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.home-section-3-card h2 {
    margin: 15px 0 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.home-section-3-card p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 300;
}

.home-section-3-card a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    background: #BE1E28;
    color: #fff;
    width: fit-content;
    padding: 8px 25px;
    border-radius: 50px;
    margin-top: 15px;
    transition: all 0.3s ease-out;
}

.home-section-3-card a:hover {
    background: #000;
    color: #fff;
    transition: all 0.3s ease-out;
}

@media(max-width: 756px) {
    .home-section-3-card h2 {
        font-size: 1.1rem;
        color: #fff;
        padding-left: 1rem;
    }

    .home-section-3-card p {
        font-size: .9rem;
        color: #fff;
        padding-left: 1rem;
    }

    .home-section-3-card a {
        font-size: .9rem;
        padding: 6px 20px;
        margin-top: 10px;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .home-section-3-card .img-container {
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    .home-section-3-card .img-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, black, transparent);
        z-index: 1;
        border-radius: 15px;
    }

    .home-section-3-card {
        width: 100%;
        height: 300px;
        justify-content: end;
        position: relative;
    }

    .home-section-3-card-full_width .img-container {
        aspect-ratio: 5 / 3 !important;
    }

    #home-section-3 {
        margin-bottom: 0;
    }
}