#home-section-1 {
    display: flex;
    position: relative;
    aspect-ratio: 4.7 / 2;
    margin-top: 5rem;
    overflow: hidden;
}

#home-section-1 img:first-of-type {
    position: absolute;
    width: 100vw;
    left: 0;
    height: 100%;
    object-fit: cover;
    max-width: 120rem;
    top: 0;
}

.home-section-1-content-div {
    z-index: 2;
    width: 60%;
    top: 45%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-section-1-content-div p {
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

#home-section-1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg, transparent 0%, #00000090 30%, #00000099 50%, #00000090 70%, transparent 100%)
}

#home-section-1 h2 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home-section-1-cta-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.home-section-1-cta-container a {
    background-color: #BE1E28;
    color: #fff;
    border-radius: 510px;
    padding: 11px 25px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease-out;
}

.ticker {
    overflow: hidden;
    background: #111;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ticker-track {
    display: flex;
    width: max-content;
}

.ticker-content {
    display: flex;
}

.ticker-content span {
    font-family: 'ClashDisplay', sans-serif;
    padding: 0 2rem;
    font-size: 1.1rem;
    font-weight: 200;
    white-space: nowrap;
    border-right: 1px solid #be1e28;
    color: #fff;
    transition: all ease-out .3s;
}

.ticker-content span:hover {
    transition: all ease-out .3s;
    color: #BE1E28;
}

.home-section-1-cta-container a:hover {
    color: #BE1E28;
    background-color: #fff;
    transition: all 0.3s ease-out;
    scale: 1.05;
}

.home-section-1-img-2 {
    display: flex;
    bottom: -27px;
    z-index: 2;
    width: calc(100% - 10rem);
    height: auto;
    left: 50%;
    opacity: .2;
    position: absolute;
    transform: translateX(-50%);
}

@media(max-width:756px) {
    #home-section-1 h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    .home-section-1-cta-container a {
        font-size: 1rem;
        font-weight: 400;
    }

    #home-section-1 {
        aspect-ratio: 4.7 / 6;
    }

    .home-section-1-content-div {
        width: 95%;
    }

    .ticker-content span {
        padding: 0 1rem;
        font-size: .8rem;
    }
}